<h1>Restaurants</h1>
<%= link_to "All Restaurants",
            restaurants_path(:sort => "title"),
            :class => "btn btn-dark text-light mb-1" %>
<%= link_to "Nearby Restaurants",
            restaurants_path,
            :class => "btn btn-dark text-light mb-1" %>

  <div class="row mt-4">

  <% @sorted_restaurants.each do |restaurant| %>
    <div class="px-3 mb-4 mb-md-5 col col-12 col-sm-6 col-md-4">
      <div class="card shadow text-center bck-card">
        <%= image_tag("#{restaurant.image}",  style: "height: 230px; width: auto") %>
        <div class="card-header bg-dark">
          <h2 class="my-0 font-weight-bold text-white"><%= restaurant.title %></h2>
        </div>
        <div class="card-body">
          <h4 class="my-0 font-weight-normal text-white pt-1"><%= restaurant.description %></h4>
          <h4 class="my-0 font-weight-normal text-white pt-1"><strong>Distance: </strong><%= restaurant.distance_from(current_user, :units => :kms).round(2) %> km</h4>
          
          <% current_user.friends_rating(restaurant.id).to_i.times do %>
            <span class="glyphicon glyphicon-star mb-2" style='color:#d5bc1a'></span>
          <% end %>
          <% (5 - (current_user.friends_rating(restaurant.id).to_i)).times do %>
            <span class="glyphicon glyphicon-star-empty pb-2", style='color:#d5bc1a'></span>
          <% end %>
         
          <div class="card-header d-flex justify-content-around p-0 m-0">
        
            <%= link_to 'Reserve', restaurant,  class: "btn btn-lg  text-white p-0 bg-dark p-2 px-5 m-0 my_link" %>
            <%= link_to 'Reservations', restaurant_reservations_path(restaurant) , class: "btn btn-lg  text-white p-0 bg-dark p-2 m-0" if current_user.guest? %>
            <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-lg btn-block button-card text-white m-0" if current_user.restaurant_manager(restaurant) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New Restaurant', new_restaurant_path if current_user.admin? %>
<script>
  $(document).ready(function() {
    $('.my_link').click(function() {
        setTimeout(function(){
                   window.location.reload(true); },
             50);
          });

    });
</script>
