<nav class="navbar navbar-default navbar-expand-md navbar-dark shadow-sm">
  <%= link_to restaurants_path, class: 'navbar-brand' do %>
    Restaurants
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to restaurants_path, class: 'nav-link' do %>
       <i class="glyphicon glyphicon-glass"></i>
          Restaurants
        <% end %>
      </li>
      <% if current_user && current_user.guest? %>
        <li class="nav-item">
          <%= link_to users_friendships_path , class: 'nav-link' do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>
            Friends
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_reviews_path, class: 'nav-link' do %>
            <i class="glyphicon glyphicon-eye-open"></i>
            Visits
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to guest_invitations_path(current_user), class: 'nav-link' do %>
            <i class="glyphicon glyphicon-time"></i>
            Invitations
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if current_user && current_user.admin? %>
          <%= link_to managers_path , class: 'nav-link' do %>
          <i class="glyphicon glyphicon-user"></i>
            Managers
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-md-0">
      <li class="nav-item">

        <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to new_manager_path, class: 'nav-link d-lg-block' do %>
            <i class="glyphicon glyphicon-user"></i>
            Add Manager
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user.guest? %>
          <%= link_to guest_path(current_user), class: 'nav-link d-lg-block' do %>
            <i class="glyphicon glyphicon-user"></i>
            My Profile
          <% end %>
        <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
